div
{
	position:relative;
}

body,div
{
	margin:0;
	padding:0;
	font-family:calibri;
	background-color:#f2f7ff;
}

a
{
	text-decoration:none;
	color:white;
	font-size:15.5px;
	font-weight:bold;
}

ul
{
	list-style:none;
}


.header
{
    width:90%;
    height:100px;
    margin:0 auto;
}

.logo
{
	width:25%;
	height:100px;
	line-height:100px;
	padding-top:8px;
	float:left;
}
.logo img {
	width: 100%;
	height: 100%;
}



.arama
{
	width:50%;
	height:100px;
	line-height:100px;
	float:left;
}


.txtAra
{
  width:70%;
  height:35%;
  float:left;
  position:relative;
  margin-left:50px;
  margin-top:30px;
  padding-left:10px;
  outline:none;
  border-left:2px solid silver;
  border-top:2px solid silver;
  border-bottom:2px solid silver;
  border-top-left-radius:20px;
  border-bottom-left-radius:20px;
}

.button
{
	position:relative;
	background-color:#ff9600;
	outline:none;
	border:none;
	border-bottom-right-radius:20px;
	border-top-right-radius:20px;
	height:34.5%;
	width:10%;
	float:left;
	margin-top:30px;
	right:0.9px;

}

.üyelik
{
	width:25%;
	height:100px;
	line-height:100px;
	float:left;
}

.menu img
{
	width:150px;
	top:-5px;
	position:relative;
	float:right;
	right:110px;

}
.menuler
{
	width:100%;
	height:40px;
	background-color:#ff9600;
	text-align:center;
}
.menu li
{
	display:inline-block;
	width:10%;
	height:40px;
	line-height:40px;

}



.menu li:hover 
{

    transition:0.3s;
	background-color:white;
	color:#ff9600;

}

.menu li:hover a
{
	color:#ff9600;
}


/*-------------------------Content-----------------------*/

.content
{
	width:80%;
	height:auto;
	margin:15px auto;
}


.filtreler
{
	width:20%;
	height:auto;
	float:left;
	background-color:#fff;
}

.filtreBaslik
{
	
	width:100%;
	height:30px;
	line-height:30px;
	background-color:#fff;
}

.filtreBaslik a
{
	display:block;
	width:100%;
	height:30px;
	color:#ff9600;
	float:left;
	font-size:13px;
	background-color:#fff;

}
/*--------------oyuncak--------------------*/

.oyuncak
{
	width:100%;
	height:30px;
	background-color:#fff;
	border-bottom:2px solid silver;

}

.filtreBaslik img
{
	width:24px;
	height:24px;
	float:right;
	padding-right:20px;
}
.oyuncak h1
{
	color:#ff7e00;
	font-size:20px;
	height:30px;
	width:100%;
	line-height:20px;
	background-color:#fff;
}

.oyuncakCesitleri
{
	width:100%;
	height:auto;
	background-color:#fff;

}

ul.lstCesitleri
{
	margin:0;
	padding:0;
	background-color:#fff;
}


ul.lstCesitleri li
{
	display:block;
	width:100%;
	line-height:50px;
	height:50px;
	border-bottom:2px solid #e5e5e5;
	background-color:#fff;
}

ul.lstCesitleri a
{
	color:#454545;
	font-size:15px;
	width:100%;
	height:40px;
	display:block;

}
/*-------------------------------ÜRÜNLER----------------------*/

.urunler
{
	width:80%;
	height:auto;
	float:right;
}

.urunler a
{
	color:#454545;
	font-size:13px;
}
.urun
{
	width:22%;
	height:300px;
	float:left;
	margin-top:5px;
	margin-left:3%;
}

.urun img
{
	width:100%;
	height:auto;
}

.urunAdi
{
	width:100%;
	height:auto;
	margin-top:20px;
}

.urunFiyat
{
	width:100%;
	height:auto;
	margin-top:20px;
	font-size:18px;
	color:#444;
}


.kargo
{
	width:100%;
	height:auto;
	margin-top:20px;
	font-size:9px;

}

.sepeteEkle
{
	width:60%;
	height:25px;
	line-height:25px;
	color:white;
	text-align:center;
	background-color:#ff9600;
	border-radius:20px;
	font-size:13px;
	top:10px;
	left:15px;
	display:none;

}

.urun:hover .sepeteEkle
{
	display:block;
	transition:1s;
}


.urun:hover .kargo
{
	display:none;
}

.urun:hover img
{
    transition:0.4s;
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.2); 
}



/*------------MEDİA----------------------*/

@media screen and (max-width:768px)
{
   .header
   {
   	display:none;
   }

   .menuler
   {
   	display:none;
   }

   .filtreler
   {
   	   width:100%;
   	   float:none;

   }

   .urunler
   {
   	  width:100%;
   	  float:none;
   }

   .urun
   {
   	 width:45%;
   	 height:350px;
   }

   .oyuncakCesitleri
   {
   	display:none;
   }

   .oyuncak
   {
   	display:none;
   }
}

@media screen and (max-width:460px)
{
     .header
   {
   	display:none;
   }

   .menuler
   {
   	display:none;
   }

   .filtreler
   {
   	   width:100%;
   	   float:none;
   	   left:8px;

   }

   .urunler
   {
   	  width:100%;
   	  float:none;
   }

   .urun
   {
   	 width:100%;
   	 height:350px;
   	 margin-top:30px;
   }

   .oyuncakCesitleri
   {
   	display:none;
   }

   .oyuncak
   {
   	display:none;
   }
}